body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

input {
    width: 250px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}